
@import 'palette';

.page-header {
  width: 100%;

  .title-box {
    text-align: center;
    padding: 20px 0;
    height: 120px;
    width: 100%;
  }

  .title {
    color: $theme_crimson;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
}

.search-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid #999999;

  .search-form {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: $list-width;
    border-radius: 8px;
      border: #999999 0.5px solid;

    .search-text {
      width: 100%;
      border: none;
    }

    .search-loupe {
      height: 16px;
      width: 16px;
      margin: 0.4em 0.25em 0 0.25em;
    }
  }

  .search-tabs {
    margin: 0 auto;
    height: 3em;
    width: $list-width;

    .tab-active {
      color: $theme_blue;
    }

    .search-tab {
      font-weight: 700;
      font-size: 1.5em;
      color: $theme_grey;
      padding: 0.5em 1em 0 1em;
    }
  }
}



.page-body {
  width: 100%;
}